html,body {
  background-image: url('newcorona.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  height: 100%;
  font-family:  Arial, Helvetica, sans-serif;
}
.container{
  height: 100%;
  align-content: center;
}
.card{
  height: 350px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: #8080ff;
}
.card-header h3 {
  color: white;
}
.soc_icon span {
  font-size: 55px;
  margin-left: 10px;
  color: #cc33ff;
}
.soc_icon span:hover {
  color: white;
  cursor: pointer;
}
.soc_icon {
  position: absolute;
  top: -45px;
  right: 20px;
}
input[type==text],input[type=integer]{
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: 0 0 0 0 ;
  box-shadow: 0 0 0 0 ;
  background: transparent;
}
.input {
  background: transparent;
  outline: none;
  color: white;
}
.submitbtn {
  color: black;
  background-color: #0099e6;
  width: 100px;
}
.submitbtn:hover {
  color: black;
  background-color: transparent;
}
.form{
  margin-top: 100px;
}
.back {
  align-content: left;
  float: left;
  padding-right: 10px;
}
.backbtn {
  align-content: left;
  float: left;
  padding-right: 10px;
  background-color: #0099e6;
}
.backbtn:hover {
    background-color: transparent;
    outline: none;
}
.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
  }
.link {
  color: white;
}
.link a {
  margin-left: 4px;
}
